@media all
{
	.slideshow.carousel
	{
		height: 200px;
		margin: 0 auto;
		overflow: hidden;
		perspective: 1000px;
		width: 250px;
	}

		.slideshow.carousel > div
		{
			transform-style: preserve-3d;
			transition: transform 1s;
		}

			.slideshow.carousel .item
			{
				color: #fff;
				display: block;
				font-size: 5em;
				opacity: .95;
				position: absolute;
				text-align: center;
			}

				.slideshow.carousel .item img
				{
					border-radius: .1em;
					height: 100%;
					object-fit: contain;
					width: 100%;
					-webkit-transform: scale(.7);
					-moz-transform: scale(.7);
					-o-transform: scale(.7);
					transform: scale(.7);
				}

			.slideshow.carousel .controls
			{
				background: #000;
				border-radius: 1.7em;
				color: #fff;
				cursor: pointer;
				font-size: 2em;
				opacity: .2;
				padding: 1em 1.2em;
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
			}

				.slideshow.carousel .controls:hover
				{
					opacity: .7;
				}

					.slideshow.carousel .next
					{
						right: 2%;
					}

					.slideshow.carousel .prev
					{
						left: 2%;
					}
}