.slideshow.mosaic
{
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-auto-rows: 240px;
}

	.slideshow.mosaic > figure
	{
		align-items: center;
		border-radius: .3em;
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin: 0;
		overflow: hidden;
		position: relative;
	}

		.slideshow.mosaic > figure:nth-child(3n + 1)
		{
			grid-row: span 2 / auto;
		}

		.slideshow.mosaic > figure:nth-child(9n + 1)
		{
			grid-column: span 2 / auto;
		}

			.slideshow.mosaic > figure img
			{
				display: block;
				height: 100%;
				object-fit: cover;
				width: 100%;
			}